@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
}
<<<<<<< HEAD
section{
  max-width: 1200px;
  margin: 0 auto;
}
=======
>>>>>>> 094dcf24a334673cc6bb82ce93fc3cec7ee5be4a

/* Shared style */
.display-flex{
  display: flex;
}
.display-grid{
  display: grid;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.txt-center{
  text-align: center;
}
/* header styel */
<<<<<<< HEAD

=======
header{

}
>>>>>>> 094dcf24a334673cc6bb82ce93fc3cec7ee5be4a
.navbar, .banner{
  max-width: 90%;
  margin: 0 auto;
} 
.navbar{
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}
.navbar ul li{
  list-style: none;
  margin-right: 25px;
}
.navbar ul li a{
  text-decoration: none;
  color: rgba(66, 66, 66, 1);
  font-size: 1.1ram;
}
.logo{
  font-size: 2rem;
}

/* Banner style */
.banner-title{
  font-size: 3rem;
  text-align: center;
}
.banner-desc{
  text-align: center;
  margin: 25px 0;
}
.banner-content{
  margin-top: 70px;
  margin-bottom: 15px;
}
.banner-img img{
<<<<<<< HEAD
  margin: 50px 0;
  width: 100%;
  height: 100%;
}
.banner-btn{
  background-color: rgba(255, 144, 14, 1);
  padding: 12px 24px;
=======
  margin: 30px 0;
  width: 100%;
  height: 100%;
}
.banner-btn, .btn-primary{
  background-color: rgba(255, 144, 14, 1);
  padding: 20px 30px;
>>>>>>> 094dcf24a334673cc6bb82ce93fc3cec7ee5be4a
  border-radius: 8px;
  font-size: 20px;
  color: #FFFFFF;
  border: none;
<<<<<<< HEAD
  font-family: "Work Sans", serif;
}

/* team section style */
.team-section{
  margin: 70px auto;
}
.team-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.team-img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.team-img img{
  width: 250px;;
}
.team-title{
  font-size: 45px;
}
.team-desc{
  font-size: 16px;
  line-height: 26px;
  margin: 15px 0;
}
.team-btn{
  background-color: rgba(255, 144, 14, 1);
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 20px;
  color: #FFFFFF;
  border: none;
  font-weight: 500;
  font-family: "Work Sans", serif;
}

/* Feature style */
.feature-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.feature-item{
  flex: 1;
}
.feature-title{
  font-size: 45px;
  font-weight: bold;
  border-left: 4px solid #FF900E;
  padding-left: 5px;
}
.feature-desc{
  margin: 24px 0;
}
.feature-card{
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 10px 0;
}
.feature-card-desc{
  line-height: 26px;
}
.feature-img img{
  width: 100%;
  height: 100%;
}
.exp-box {
  padding: 30px 20px;
  background-color: #FF900E;
}
.feature-img h3{
  padding: 30px 20px;
  background-color: #FF900E;
}

/* fact style */
.fact-card-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fact-card{
  padding: 20px;
  border: 1px solid #FF900E;
  text-align: center;
  border-radius: 5px;
}







=======
}

/* team section style */
.team-sec{
  max-width: 90%;
  margin: 0 auto;
}
.team-img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team-sec{
  display: flex;
  justify-content: center;
  align-items: center;
}
>>>>>>> 094dcf24a334673cc6bb82ce93fc3cec7ee5be4a


/* Media Query */

@media screen and (max-width: 576px) {
  .banner-title{
    font-size: 2.5rem;
    text-align: center;
  }
  .banner-btn{
    padding: 12px 24px;
  }
  .banner-img img{
    margin: 15px 0;
  }
  .banner-content{
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .logo{
    font-size: 1.5rem;
  }
  .navbar ul li{
    margin-right: 15px;
  }

  .team-img{
    grid-template-columns: repeat(2, 1fr);
  }
  .team-content{
    text-align: center;
  }
  .team-sec{
    flex-direction: column-reverse;
  }


<<<<<<< HEAD
}
=======
}
>>>>>>> 094dcf24a334673cc6bb82ce93fc3cec7ee5be4a
